html, body{
    padding: 0px;
    margin: auto;
    border: 2px solid #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
}
[class*="col"]{
    padding: 0;
    background-color: black;
    color: #fff;
    text-align: center;
}
[class*="con"]{
    padding: 0;
    background-color: black;
    color: #fff;
    text-align: center;
}
.card-body{
    color: black;
}

.bio{
    width: 50%;
    margin-left: 200px;
    text-align: left;
    align-self: center;
}
img{
    align-self: flex-end;
    height: 240px;
    width: 320px;
}
